@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Verdana, serif;
}
#deleted-products-list > h2 {
    font-weight: bold;
}
#deleted-products-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    column-gap: 1em;
    padding: .5em 0;
}
#deleted-products-list button {
    background: red;
    color: white;
    padding: .1em .4em;
    border-radius:.2em;
    font-weight: bold;
}
.button-delete {
    background-color: red !important;
    color: white;
    padding: .1em .4em;
    border-radius:.2em;
    font-weight: bold;
}

.btn-primary {
    background-color: #0073de !important;
    padding: 11px 20px;
    color: white;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: #0059ad !important;
}

[x-cloak] { display: none !important; }
